.top-letter {
  position: absolute;
  top: -10px;
  left: 16px;
  background-color: #fff;
  z-index: 1;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.75rem;
}

table th,
table tr {
  font-size: 0.8rem;
  font-weight: 500;
  text-overflow: ellipsis;
}

table tbody {
  height: 90%;
  overflow: auto;
}

#setUpNavBar::-webkit-scrollbar {
  display: none;
}

#setUpNavBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#setUpNavBar button h3 {
  white-space: nowrap;
}

#setUpNavBar .class-icon {
  width: auto;
  height: auto;
  min-width: 1rem;
  min-height: 1rem;
}
